<div class="main users-edit">
  <div class="container">
      <div class="form-body">
        <!-- 次の行からform_tagを使い、編集内容を送信できるようにしましょう(endの忘れに注意です) -->
        <%= form_tag update_picture_path, method: :patch, multipart: true do %>
        
        <p>プロフィール画像</p>
        <input name="image" type=file>
        <input type="submit" value="保存">
        <% end %>
      </div>
  </div>
</div>

