<div class="main users-edit">
  <div class="container">
      <div class="form-body">
        <!-- 次の行からform_tagを使い、編集内容を送信できるようにしましょう(endの忘れに注意です) -->
        <%= form_with(model: @user, url: update_profile_path, method: :patsh) do |f| %>
        
        <%= f.label :image %>
　　    <%= f.file_field :image %> 
        <% end %>
      </div>
  </div>
</div>

