// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
display: table;

text-align: center;
}

ul li{
display: table-cell;
}

.content-left{
  width: 300px;
  margin: 10px 20px;
  padding: 20px;
  height: 220px;  
  float: left;
  }
  
.profile {
  display: table-cell;
}