// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-btn {
    background: #005151;
    color: #fff !important;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}

.profile-btn2 {
    background: #005151;
    color: #fff !important;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}

.profile-table {
   margin-top: 10px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    
}

.post-title {
    text-align: center;
}

.user-name {
    text-align: center;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}




/* マイページ */


.flex-container {
    display: flex;
}

.comment {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* マイページのmenuの中 */

.menu {
    align-self: center;
　　position: relative;
}



.menu-list {
    list-style-type: none;
    
   
    padding:10px;
}

.instagram-btn {
    margin-top: 10px;
    
}

.dropdown {
    list-style-type: none;
   
    width: 200px;
    line-height: 30px;
 
    
}

.dropdown-menu {
　position: absolute;
  top: 40px;
  padding: 10px;
  left: calc(( 250px - 100% ) / -2 ); /* ←widthの250pxと同じ値を指定することで、常に親要素からみて中央にドロップダウンメニューを持ってこれる。！ */
  width: 250px;
  text-align: center;
  
}




.user-info {
    font-size: 25px;
    color: black;
}

.user-image {
    
    padding-right: 20px;
    padding-top: 20px;
    
}

.user-name-mypage {
     
     
}

.self-introduction {
     
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px -10px 0px;
    
}

.aaa {
    list-style: none;
}

/* 画像と動画のクラス */
.tee {
    padding: 15px;
}

/* 非公開スイッチ*/
.tee-test {
    text-align: center;
    
}




/* ユーザー情報　リストの囲い　レイアウト */
.test {
  list-style-type: none;
  background: #fffcf4;
  border-radius :8px;/*角の丸み*/
  box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/

}
 


.self-introduction {
    padding-top: 20px;
}


ul li, ol li {
  line-height: 1.5;
}

/* 投稿一覧 */

.video {
  padding: 10px;
}



.flex-itme-right {
    
    width: 250px;
    text-align: center;
}

/* モーダル */
.users_video {
    
    width: 100px;

}

.side-bar-content {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
    width: 185px;
    height: 150px;
    border: 1px solid;
}


.tetete {
    background: orange;
}

/* メッセージルーム */

.message-room-flex {
    display: flex;
    
}

.message-room-flex-right {
    display: flex;
    
    justify-content: flex-end; /* フレックス要素を右寄せ */
    
}

.message-create {
    background: #fffcf4;
    border-radius :8px;/*角の丸み*/
    box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
}



.room-image {
  
}

.room-user-name {
  
}

.message-create {
  
}

.delete-btn {
    display: block;
    text-align: left; 
}

/*  新規メッセージのお知らせ表示 */

.already_read {
    color: red;
}

/* 公開ボタン */
 .public-btn {
    text-align: center;
 }



/*users_postsのtable*/
.users-posts-table {
    width:250px;
    
}

.table-in {
    text-align: right;
    background: orange;
}