// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-btn {
    background: #005151;
    color: #fff !important;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}

.profile-btn2 {
    background: #005151;
    color: #fff !important;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}

.profile-table {
   margin-top: 10px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    
}

.post-title {
    text-align: center;
}

.user-name {
    text-align: center;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* マイページ */

.flex-container {
    display: flex;
}

.comment {
    display: flex;
    text-align: center;
    justify-content: center;
    
}
/* インスタから情報をとる */
.instagram_search {
    padding-left: 20px;
    
}

.instagram-btn {
    margin-top: 10px;
    
}

.dropdown {
    list-style-type: none;
    padding-top: 30px;
    width: 200px;
    
}

.dropdown-menu {
    text-align: center;
    padding: 10px;
}

/* インスタロゴ */
.from-instagram {
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
}

/* メッセージ */
.message {
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
  margin-top: 30px;
}
/* 足跡 */
.Footprint {
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
  margin-top: 30px;
}


.user-info {
    font-size: 25px;
    color: black;
}

.user-image {
    
    padding-right: 20px;
    padding-top: 20px;
    
}

.user-name-mypage {
     
     
}

.self-introduction {
     
}






/* ユーザー情報　リストの囲い　レイアウト */
.test {
  list-style-type: none;
  background: #fffcf4;
  border-radius :8px;/*角の丸み*/
  box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/

}
 


.self-introduction {
    padding-top: 20px;
}


ul li, ol li {
  line-height: 1.5;
}

/* 投稿一覧 */

.video {
  padding: 10px;
}



.flex-itme-right {
    
    width: 250px;
    text-align: center;
}

/* モーダル */
.users_video {
    background: orange;
    width: 100px;

}

.side-bar-content {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
    width: 185px;
    height: 150px;
    border: 1px solid;
}


