// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-btn {
    background: #005151;
    color: #fff !important;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}

.profile-btn2 {
    background: #005151;
    color: #fff !important;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}

.profile-table {
   margin-top: 10px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    
}

.post-title {
    text-align: center;
}

.user-name {
    text-align: center;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}